[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=horie-t
WorkingDirectory=/home/horie-t/sites/DOMAIN
EnvironmentFile=/home/horie-t/sites/DOMAIN/.env

ExecStart=/home/horie-t/sites/DOMAIN/virtualenv/bin/gunicorn  \
    --bind unix:/tmp/DOMAIN.socket \
        superlists.wsgi:application

[Install]
WantedBy=multi-user.target
